:host {
  --ion-color-primary: #3b82f6;
}

ion-content {
  --background: #ffffff;
}

ion-card {
  border: 1px solid #d1d5db;
}

.product-title {
  color: var(--ion-color-primary);
}

.sold {
  color: var(--ion-color-primary);
  margin-bottom: 12px;
}

.related-card {
  text-align: center;
}
