<ion-tabs>

  <ion-tab-bar slot="bottom" class="clean-tabs">

    <ion-tab-button tab="home">
      <div class="center-btn">
        <ion-icon name="home-outline"></ion-icon>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="shop" class="center-tab">
      <div class="center-btn">
       <ion-icon name="bag-handle-outline"></ion-icon>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="wishlist">
      <div class="center-btn">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-badge class="badge-icon" color="primary">3</ion-badge>
      </div>
    </ion-tab-button>

    <!-- Center Cart -->
    <ion-tab-button tab="cart">
      <div class="center-btn">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge class="badge-icon" color="primary">3</ion-badge>
      </div>
    </ion-tab-button>

    <!-- <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button> -->

  </ion-tab-bar>

</ion-tabs>
